.fondo-login{
    -fx-background-image: url(./Laliga.jpg);
}
.fondo-botonclas{
    -fx-background-image: url(./clasificacion.png);
}
.fondo-botoncalen{
    -fx-background-image: url(./calendar.png);
}
.fondo-botonnoticia{
    -fx-background-image: url(./not.jfif);
}
.fondo-botonnoticia2{
    -fx-background-image: url(./negreira.jfif);
}
.fondo-botontarjetas{
    -fx-background-image: url(./tarjetas.png);
}
.fondo-botonbusqueda{
    -fx-background-image: url(./buscar.jfif);
}
.fondo-inicio{
    -fx-background-color: #F5F5DC;
}